* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__container {
    background-color: #7c005a;
}

.nav__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
}

.nav__link {
    padding: 0 20px;
    line-height: 60px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    text-decoration: underline;
}

a {
    color: black;
}

a.nav__link:hover {
    font-size: large;
}

a:hover:not(a.nav__link) {
    text-decoration: underline;
}

div {
    color: #201d1c;
    line-height: 1.5;
    font-size: 16px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 38px;
}

h2 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 0.075em;
    color: rgba(23, 22, 22, 0.91);
}

h3,
.degree {
    font-size: 16px;
    font-weight: 400;
}

span {
    text-shadow: 1px 1px 1px rgb(128, 128, 128);
    letter-spacing: 1px;
}

.main__container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "g-img g-prof g-prof"
        "g-cont g-course g-course"
        "g-cont g-lang g-lang"
        "g-ed g-sk g-sk"
        "g-ed g-code g-code";
    width: 768px;
    height: 1100px;
    margin: 0 auto 0 auto;
    padding: 20px;
    background-color: rgb(221, 160, 221);
}

#education,
#contacts,
#courses,
#skills,
#languages,
#code {
    padding: 30px 30px 20px;
}

.about {
    grid-area: g-prof;
    padding: 20px;
    text-align: justify;
    -webkit-border-radius: 0 30px;
    -moz-border-radius: 0 30px;
    -ms-border-radius: 0 30px;
    -o-border-radius: 0 30px;
    padding: 30px;
}

.name {
    margin: 0 0 20px 0;

}

.profile__img {
    grid-area: g-img;
    background-image: url("/assets/img/perfil.png");
    background-color: rgb(148, 0, 211);
    background-size: cover;
    border-radius: 0 30px 0 30px;
    -webkit-border-radius: 0 30px 0 30px;
    -moz-border-radius: 0 30px 0 30px;
    -ms-border-radius: 0 30px 0 30px;
    -o-border-radius: 0 30px 0 30px;
}

#education {
    grid-area: g-ed;
    background-color: #ac6ce6;
    border-radius: 0 30px 0 0;
    -webkit-border-radius: 0 30px 0 0;
    -moz-border-radius: 0 30px 0 0;
    -ms-border-radius: 0 30px 0 0;
    -o-border-radius: 0 30px 0 0;
}

#education ul li {
    margin: 7px 0 14px;
}

#contacts {
    grid-area: g-cont;
    background-color: #df64bd;
    border-radius: 30px 0 0 0;
    -webkit-border-radius: 30px 0 0 0;
    -moz-border-radius: 30px 0 0 0;
    -ms-border-radius: 30px 0 0 0;
    -o-border-radius: 30px 0 0 0;
}

#contacts ul li {
    margin-bottom: 7px;
}

#courses {
    grid-area: g-course;
    background-color: rgba(190, 0, 138, 0.4);
    border-radius: 20px 0 20px 0;
    -webkit-border-radius: 20px 0 20px 0;
    -moz-border-radius: 20px 0 20px 0;
    -ms-border-radius: 20px 0 20px 0;
    -o-border-radius: 20px 0 20px 0;
}

#skills {
    grid-area: g-sk;
    background-color: #b964d4;
    border-radius: 0 0 30px 0;
    -webkit-border-radius: 0 0 30px 0;
    -moz-border-radius: 0 0 30px 0;
    -ms-border-radius: 0 0 30px 0;
    -o-border-radius: 0 0 30px 0;
}

#skills ul li {
    padding-left: 25px;
}

.textcols {
    columns: 2;
}

#languages {
    grid-area: g-lang;
    background-color: rgba(124, 0, 90, 0.45);
    border-radius: 30px 0 0 0;
    -webkit-border-radius: 30px 0 0 0;
    -moz-border-radius: 30px 0 0 0;
    -ms-border-radius: 30px 0 0 0;
    -o-border-radius: 30px 0 0 0;
}

#code {
    grid-area: g-code;
    background-color: rgba(100, 0, 251, 0.42);
    border-radius: 0 30px 0 30px;
    -webkit-border-radius: 0 30px 0 30px;
    -moz-border-radius: 0 30px 0 30px;
    -ms-border-radius: 0 30px 0 30px;
    -o-border-radius: 0 30px 0 30px;
}

.my-github{
    margin-left: 10px;
}

.year{
    grid-column: 1/3;
}

.hr {
    color: #121013;
    size: 2px;
    width: 20px;
}

.footer__container {
    height: 60px;
    background-color: rgba(172, 108, 230, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__container img {
    height: 40px;
    line-height: 60px;
}

